pickhaus-tiny-001.internal.pick.haus.yaml
pickhaus-tiny-002.internal.pick.haus.yaml
talosconfig
pickhaus-pickhaus-node-001.internal.pick.haus.yaml
pickhaus-pickhaus-node-002.internal.pick.haus.yaml
pickhaus-pickhaus-node-003.internal.pick.haus.yaml
pickhaus-pickhaus-node-004.internal.pick.haus.yaml
pickhaus-pickhaus-node-005.internal.pick.haus.yaml
